In [175]:
# concatenate all comments

In [52]:
import math
import random
import string
import re 
from  collections import Counter
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sps
from scipy.spatial.distance import cdist
import statistics
import scipy.stats as sps
from sklearn.model_selection import train_test_split

In [53]:
import warnings
warnings.filterwarnings('ignore')

In [54]:
import time

In [55]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [56]:
data1 = pd.read_csv("../datasets/customer_comments1_r1.csv")

In [57]:
data1.head(10)

,Unnamed: 0,id,time,rating,comment
0,0,a-hVnSTC12MY5L3t9yOSJw,5/1/2020,4 star rating,ordered delivery and was very happy with the f...
1,1,a-hVnSTC12MY5L3t9yOSJw,8/13/2022,4 star rating,This is your run-of-the-mill Chinese takeout s...
2,2,a-hVnSTC12MY5L3t9yOSJw,3/25/2022,1 star rating,Waited for 30 minutes and ask everyone at the ...
3,3,a-hVnSTC12MY5L3t9yOSJw,5/18/2021,4 star rating,I like this place for American Chinese food. M...
4,4,a-hVnSTC12MY5L3t9yOSJw,4/12/2022,3 star rating,Food is great. Kind of upset they changed the ...
5,5,a-hVnSTC12MY5L3t9yOSJw,3/4/2022,1 star rating,They lie foos coming lady I'm still waiting re...
6,6,a-hVnSTC12MY5L3t9yOSJw,12/11/2021,1 star rating,Hi i just ordered about 40$ worth of food righ...
7,7,a-hVnSTC12MY5L3t9yOSJw,10/18/2020,1 star rating,I order my food and it has been over an hour a...
8,8,a-hVnSTC12MY5L3t9yOSJw,1/11/2020,2 star rating,Decent but the person well the lady that takes...
9,9,a-hVnSTC12MY5L3t9yOSJw,10/15/2018,5 star rating,Either I was hungry or the food was amazing.Ev...

In [58]:
data2 = pd.read_csv("../datasets/customer_comments1_r2.csv")

In [59]:
data3 = pd.read_csv("../datasets/customer_comments1_r3.csv")

In [60]:
data4 = pd.read_csv("../datasets/customer_comments2_round1.csv")
data5 = pd.read_csv("../datasets/customer_comments2_round2.csv")
data6 = pd.read_csv("../datasets/customer_comments2_round3.csv")

In [61]:
data7 = pd.read_csv("../datasets/customer_comments3_round1.csv")

In [62]:
data8 = pd.read_csv("../datasets/customer_comments3_round2.csv")

In [63]:
data9 = pd.read_csv("../datasets/customer_comments3_round3.csv")

In [64]:
li = []
li.append(data1)
li.append(data2)
li.append(data3)
li.append(data4)
li.append(data5)
li.append(data6)
li.append(data7)
li.append(data8)
li.append(data9)

In [65]:
frame = pd.concat(li, axis=0, ignore_index=True)

In [66]:
frame

,Unnamed: 0,id,time,rating,comment
0,0,a-hVnSTC12MY5L3t9yOSJw,5/1/2020,4 star rating,ordered delivery and was very happy with the f...
1,1,a-hVnSTC12MY5L3t9yOSJw,8/13/2022,4 star rating,This is your run-of-the-mill Chinese takeout s...
2,2,a-hVnSTC12MY5L3t9yOSJw,3/25/2022,1 star rating,Waited for 30 minutes and ask everyone at the ...
3,3,a-hVnSTC12MY5L3t9yOSJw,5/18/2021,4 star rating,I like this place for American Chinese food. M...
4,4,a-hVnSTC12MY5L3t9yOSJw,4/12/2022,3 star rating,Food is great. Kind of upset they changed the ...
...,...,...,...,...,...
53374,3811,YYuuOeD_vkboZkZy1kTTrQ,10/9/2022,5 star rating,Casa Enrique never disappoints with their auth...
53375,3812,YYuuOeD_vkboZkZy1kTTrQ,2/21/2023,5 star rating,"We dined on a Monday night, and it was super b..."
53376,3813,YYuuOeD_vkboZkZy1kTTrQ,12/19/2022,5 star rating,Worth the hype. A Michelin started Mexican res...
53377,3814,YYuuOeD_vkboZkZy1kTTrQ,12/8/2022,5 star rating,Casa Enrique is a tapas-style portion menu. Ev...
53378,3815,YYuuOeD_vkboZkZy1kTTrQ,12/16/2022,5 star rating,Casa Enrique is truthy worthy of its Michelin ...

In [67]:
frame2 = frame.drop_duplicates()

In [68]:
frame2

,Unnamed: 0,id,time,rating,comment
0,0,a-hVnSTC12MY5L3t9yOSJw,5/1/2020,4 star rating,ordered delivery and was very happy with the f...
1,1,a-hVnSTC12MY5L3t9yOSJw,8/13/2022,4 star rating,This is your run-of-the-mill Chinese takeout s...
2,2,a-hVnSTC12MY5L3t9yOSJw,3/25/2022,1 star rating,Waited for 30 minutes and ask everyone at the ...
3,3,a-hVnSTC12MY5L3t9yOSJw,5/18/2021,4 star rating,I like this place for American Chinese food. M...
4,4,a-hVnSTC12MY5L3t9yOSJw,4/12/2022,3 star rating,Food is great. Kind of upset they changed the ...
...,...,...,...,...,...
53374,3811,YYuuOeD_vkboZkZy1kTTrQ,10/9/2022,5 star rating,Casa Enrique never disappoints with their auth...
53375,3812,YYuuOeD_vkboZkZy1kTTrQ,2/21/2023,5 star rating,"We dined on a Monday night, and it was super b..."
53376,3813,YYuuOeD_vkboZkZy1kTTrQ,12/19/2022,5 star rating,Worth the hype. A Michelin started Mexican res...
53377,3814,YYuuOeD_vkboZkZy1kTTrQ,12/8/2022,5 star rating,Casa Enrique is a tapas-style portion menu. Ev...
53378,3815,YYuuOeD_vkboZkZy1kTTrQ,12/16/2022,5 star rating,Casa Enrique is truthy worthy of its Michelin ...

In [69]:
# select comments after 2022/1/1

In [70]:
import datetime

In [71]:
temp_df = frame2.copy()

In [72]:
temp_df['time'] = pd.to_datetime(temp_df['time'])
date = np.datetime64(datetime.date(2022, 1, 1))
date_df = temp_df[temp_df['time'] >= date]

In [73]:
date_df

,Unnamed: 0,id,time,rating,comment
1,1,a-hVnSTC12MY5L3t9yOSJw,2022-08-13,4 star rating,This is your run-of-the-mill Chinese takeout s...
2,2,a-hVnSTC12MY5L3t9yOSJw,2022-03-25,1 star rating,Waited for 30 minutes and ask everyone at the ...
4,4,a-hVnSTC12MY5L3t9yOSJw,2022-04-12,3 star rating,Food is great. Kind of upset they changed the ...
5,5,a-hVnSTC12MY5L3t9yOSJw,2022-03-04,1 star rating,They lie foos coming lady I'm still waiting re...
10,10,znlol6dCKwjoXpZZwV_ZOg,2022-10-13,5 star rating,Good food that is quick and authentic! I order...
...,...,...,...,...,...
53374,3811,YYuuOeD_vkboZkZy1kTTrQ,2022-10-09,5 star rating,Casa Enrique never disappoints with their auth...
53375,3812,YYuuOeD_vkboZkZy1kTTrQ,2023-02-21,5 star rating,"We dined on a Monday night, and it was super b..."
53376,3813,YYuuOeD_vkboZkZy1kTTrQ,2022-12-19,5 star rating,Worth the hype. A Michelin started Mexican res...
53377,3814,YYuuOeD_vkboZkZy1kTTrQ,2022-12-08,5 star rating,Casa Enrique is a tapas-style portion menu. Ev...
53378,3815,YYuuOeD_vkboZkZy1kTTrQ,2022-12-16,5 star rating,Casa Enrique is truthy worthy of its Michelin ...

In [74]:
date_df.to_csv('date_df.csv')

In [75]:
# select comments related to hygiene

In [76]:
hygiene_keywords = [
    "cleanliness",
    "clean",
    "dirty",
    "sanitary",
    "hygienic",
    "disinfect",
    "germ-free",
    "sterile",
    "bacteria",
    "contamination",
    "health inspection",
    "filthy",
    "grime",
    "grease",
    "dust",
    "pest",
    "rodent",
    "insect",
    "mold",
    "mildew",
    "odor",
    "smell",
    "trash",
    "garbage",
    "litter",
    "stain",
    "unsanitary",
    "spoiled",
    "rotten",
    "food poisoning"
]

In [77]:
import nltk
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [78]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/serenawang/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [79]:
 nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/serenawang/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [80]:
hygiene_rows = []
for index, row in date_df.iterrows():
    comment = row['comment']
    for keyword in hygiene_keywords:
        for word in nltk.word_tokenize(comment):
            lemma = lemmatizer.lemmatize(word.lower())
            if keyword == lemma:
                hygiene_rows.append(row)

In [81]:
hygiene_df = pd.DataFrame(hygiene_rows)

In [82]:
hygiene_df

,Unnamed: 0,id,time,rating,comment
23,23,9dqJrTzx0GvBNb-J0VyeGg,2022-12-18,5 star rating,"Clean, modern, super friendly staff. Everythin..."
24,24,9dqJrTzx0GvBNb-J0VyeGg,2022-01-23,2 star rating,Strawberry cake* - is delicious but I found a ...
67,67,qrncvjkiKN5Z-JC06ygy6A,2022-12-13,2 star rating,I don't know where to begin. Let's just say I ...
67,67,qrncvjkiKN5Z-JC06ygy6A,2022-12-13,2 star rating,I don't know where to begin. Let's just say I ...
78,78,vpkTNjq9dRh9rT3Nh0pe-A,2023-02-27,5 star rating,My cousins from out of town were visiting and ...
...,...,...,...,...,...
53207,3644,5YnysgHnTQMouHqal8UN8Q,2023-02-14,3 star rating,"I got the power shake, (strawberry, banana and..."
53207,3644,5YnysgHnTQMouHqal8UN8Q,2023-02-14,3 star rating,"I got the power shake, (strawberry, banana and..."
53207,3644,5YnysgHnTQMouHqal8UN8Q,2023-02-14,3 star rating,"I got the power shake, (strawberry, banana and..."
53208,3645,5YnysgHnTQMouHqal8UN8Q,2022-07-25,5 star rating,"Honestly, this place knows how to make a tuna ..."
53231,3668,hGksyTiHBBdrhbiVjXzWVw,2022-04-04,1 star rating,This place was extremely rude. I'm staying at ...

In [83]:
hygiene_df.to_csv("hygiene_df.csv")

In [84]:
# calculate average for both datasets

In [85]:
temp_rows1 = []
for index, row in hygiene_df.iterrows():
    rating_str = row['rating']
    rating_int = int(rating_str.split(' ')[0])
    row['rating'] = rating_int
    temp_rows1.append(row)

In [86]:
new_hygiene_df = pd.DataFrame(temp_rows1)

In [87]:
new_hygiene_df

,Unnamed: 0,id,time,rating,comment
23,23,9dqJrTzx0GvBNb-J0VyeGg,2022-12-18,5,"Clean, modern, super friendly staff. Everythin..."
24,24,9dqJrTzx0GvBNb-J0VyeGg,2022-01-23,2,Strawberry cake* - is delicious but I found a ...
67,67,qrncvjkiKN5Z-JC06ygy6A,2022-12-13,2,I don't know where to begin. Let's just say I ...
67,67,qrncvjkiKN5Z-JC06ygy6A,2022-12-13,2,I don't know where to begin. Let's just say I ...
78,78,vpkTNjq9dRh9rT3Nh0pe-A,2023-02-27,5,My cousins from out of town were visiting and ...
...,...,...,...,...,...
53207,3644,5YnysgHnTQMouHqal8UN8Q,2023-02-14,3,"I got the power shake, (strawberry, banana and..."
53207,3644,5YnysgHnTQMouHqal8UN8Q,2023-02-14,3,"I got the power shake, (strawberry, banana and..."
53207,3644,5YnysgHnTQMouHqal8UN8Q,2023-02-14,3,"I got the power shake, (strawberry, banana and..."
53208,3645,5YnysgHnTQMouHqal8UN8Q,2022-07-25,5,"Honestly, this place knows how to make a tuna ..."
53231,3668,hGksyTiHBBdrhbiVjXzWVw,2022-04-04,1,This place was extremely rude. I'm staying at ...

In [88]:
grouped_hygiene_df = new_hygiene_df.groupby('id')['rating'].mean()

In [89]:
grouped_hygiene_df.to_csv('../datasets/grouped_hygiene_df.csv')

In [90]:
grouped_hygiene_df

id
-J8VuX3wGrYSOBu2G0hMsw    3.666667
-KfM32STVYND4v_9l1YRug    4.000000
-OixbLnFLCzQclxCSbUQ8w    5.000000
-OmMU5ZjOKlB9K6kSCFv5A    4.000000
-Q8MYIWoE4EsGQtudIOY0w    2.333333
                            ...
zPMSuQJRpXi11G_Tqv1LJQ    3.500000
ziIb68Res3eMw7fz83yFxw    2.000000
zjks9r34-5cw9FrONfpsCg    4.200000
znlol6dCKwjoXpZZwV_ZOg    1.000000
zvxUXRQOqzsyFiCKS09_JQ    2.714286
Name: rating, Length: 750, dtype: float64

In [91]:
temp_rows2 = []
for index, row in date_df.iterrows():
    rating_str = row['rating']
    rating_int = int(rating_str.split(' ')[0])
    row['rating'] = rating_int
    temp_rows2.append(row)

In [92]:
new_date_df = pd.DataFrame(temp_rows2)

In [93]:
grouped_date_df = new_date_df.groupby('id')['rating'].mean()

In [94]:
grouped_date_df.to_csv('../datasets/grouped_date_df.csv')

In [95]:
grouped_date_df

id
--FoSeUBHQb_p6iTntY4KA    4.666667
-2kUyfQrEBxYXfNKfDwAJQ    1.800000
-4wt4Uau_zC5ilPMrIayxQ    4.250000
-71z5kAJS79mfmgR-DyjiQ    1.111111
-9MLyUR2SyI2zXBBvksj3A    4.200000
                            ...
ztTcT8KmnKtMtcCdFRBO4w    2.000000
zuaO8_t7NWCWP7ewuuuTBg    1.857143
zuxZtAredHPR1wrx12g1ng    3.333333
zvxUXRQOqzsyFiCKS09_JQ    3.280000
zzrm1Da_CuUU-X0wzPTCCQ    3.000000
Name: rating, Length: 1538, dtype: float64