In [27]:
import math
import random
import string
import re 
from  collections import Counter
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sps
from scipy.spatial.distance import cdist
import statistics
import scipy.stats as sps
from sklearn.model_selection import train_test_split

In [28]:
import warnings
warnings.filterwarnings('ignore')

In [29]:
import time

In [30]:
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time

In [31]:
data = pd.read_csv("../datasets/concat_restaurant_hygiene.csv")

# FIRST CYCLE

## ** REPLACE NUMBER HERE **

In [32]:
urls_set = data["url"][:300]
index = 0

In [33]:
# THIS IS THE RESULT
df = pd.DataFrame(columns=["id", "time", "rating", "comment"])

In [34]:
start = time.time()
for url in urls_set:
    curr_id = data["id"][index]
    
    response_page = requests.get(url)
    
    try:
        response_page = requests.get(url+"&start=20")
        soup_page = BeautifulSoup(response_page.content, "html.parser")
        body_page = soup_page.body
        main_page = body_page.main
        comment_section = main_page.find("div", {"id":"reviews"})
    except:
        continue
    
    try:
        comment_list = comment_section.find("ul", {"class": "undefined list__09f24__ynIEd"})
    except:
        continue
    
    try:
        comments = comment_section.find_all("li")
    except:
        continue
    
    try:
        comments = comments[5:]
    except:
        continue
    
    for curr_comment in comments:
        try:
            # Finding Time
            curr_time = curr_comment.find("span", {"class": "css-chan6m"}).text

            # Find Rating
            rating = curr_comment.find("div", \
                              {"class": \
                               "five-stars__09f24__mBKym"})["aria-label"]

            # Find Comments
            comment = curr_comment.find("span", {"class": "raw__09f24__T4Ezm"}).text

            curr_row = {'id': curr_id, 'time': curr_time, 'rating': rating, "comment": comment}
            df = df.append(curr_row, ignore_index = True)
        except:
            break

    index += 1

end = time.time()

In [35]:
df

,id,time,rating,comment
0,a-hVnSTC12MY5L3t9yOSJw,7/24/2016,3 star rating,Good food for the price. I like their chicken ...
1,a-hVnSTC12MY5L3t9yOSJw,12/12/2015,4 star rating,Placed a pick-up order here last night for fiv...
2,a-hVnSTC12MY5L3t9yOSJw,1/27/2015,3 star rating,ordered on seamless. Delivery took a while but...
3,a-hVnSTC12MY5L3t9yOSJw,10/22/2011,2 star rating,Not the best of places. Food is ok and you get...
4,a-hVnSTC12MY5L3t9yOSJw,10/16/2011,1 star rating,I had once eaten here a fairly long time ago a...
...,...,...,...,...
2601,jTUHTXbwMAVQWMvEgPBHyg,11/10/2018,2 star rating,The mediterranean salad was a major let down. ...
2602,jTUHTXbwMAVQWMvEgPBHyg,12/9/2018,1 star rating,Ordered food and threw it out couldn't eat it....
2603,jTUHTXbwMAVQWMvEgPBHyg,8/25/2017,4 star rating,"We go here for lunch and sometimes dinner, the..."
2604,jTUHTXbwMAVQWMvEgPBHyg,4/13/2019,1 star rating,I wish I can get my money back! Overpaid for a...
2605,jTUHTXbwMAVQWMvEgPBHyg,8/18/2018,5 star rating,The food tasted homemade and was amazing. The...

In [36]:
end - start

2067.7701313495636

# SECOND CYCLE

In [37]:
urls_set = data["url"][300:600]
index = 300

In [38]:
# THIS IS THE RESULT
df1 = pd.DataFrame(columns=["id", "time", "rating", "comment"])

In [39]:
start = time.time()
for url in urls_set:
    curr_id = data["id"][index]
    
#     response_page = requests.get(url)
    
    try:
        response_page = requests.get(url+"&start=20")
#         response_page = requests.get(url+"&start=20")
        soup_page = BeautifulSoup(response_page.content, "html.parser")
        body_page = soup_page.body
        main_page = body_page.main
        comment_section = main_page.find("div", {"id":"reviews"})
    except:
        continue
    
    
    try:
        comment_list = comment_section.find("ul", {"class": "undefined list__09f24__ynIEd"})
    except:
        continue
    
    try:
        comments = comment_section.find_all("li")
    except:
        continue
    
    try:
        comments = comments[5:]
    except:
        continue
    
    for curr_comment in comments:
        try:
            # Finding Time
            curr_time = curr_comment.find("span", {"class": "css-chan6m"}).text

            # Find Rating
            rating = curr_comment.find("div", \
                              {"class": \
                               "five-stars__09f24__mBKym"})["aria-label"]

            # Find Comments
            comment = curr_comment.find("span", {"class": "raw__09f24__T4Ezm"}).text

            curr_row = {'id': curr_id, 'time': curr_time, 'rating': rating, "comment": comment}
            df1 = df1.append(curr_row, ignore_index = True)
        except:
            break

    index += 1

end = time.time()

In [40]:
df

,id,time,rating,comment
0,a-hVnSTC12MY5L3t9yOSJw,7/24/2016,3 star rating,Good food for the price. I like their chicken ...
1,a-hVnSTC12MY5L3t9yOSJw,12/12/2015,4 star rating,Placed a pick-up order here last night for fiv...
2,a-hVnSTC12MY5L3t9yOSJw,1/27/2015,3 star rating,ordered on seamless. Delivery took a while but...
3,a-hVnSTC12MY5L3t9yOSJw,10/22/2011,2 star rating,Not the best of places. Food is ok and you get...
4,a-hVnSTC12MY5L3t9yOSJw,10/16/2011,1 star rating,I had once eaten here a fairly long time ago a...
...,...,...,...,...
2601,jTUHTXbwMAVQWMvEgPBHyg,11/10/2018,2 star rating,The mediterranean salad was a major let down. ...
2602,jTUHTXbwMAVQWMvEgPBHyg,12/9/2018,1 star rating,Ordered food and threw it out couldn't eat it....
2603,jTUHTXbwMAVQWMvEgPBHyg,8/25/2017,4 star rating,"We go here for lunch and sometimes dinner, the..."
2604,jTUHTXbwMAVQWMvEgPBHyg,4/13/2019,1 star rating,I wish I can get my money back! Overpaid for a...
2605,jTUHTXbwMAVQWMvEgPBHyg,8/18/2018,5 star rating,The food tasted homemade and was amazing. The...

In [41]:
df1

,id,time,rating,comment
0,URflNuIV5PJZm4LcNACBPQ,9/6/2021,1 star rating,First I called the restaurant to make a reserv...
1,URflNuIV5PJZm4LcNACBPQ,4/21/2022,1 star rating,I was there with my friend yesterday. Everythi...
2,URflNuIV5PJZm4LcNACBPQ,9/4/2020,4 star rating,Came back on Friday 9/4/2020 and they redeemed...
3,URflNuIV5PJZm4LcNACBPQ,8/22/2020,3 star rating,I've been wanting to check this Thai spot out ...
4,URflNuIV5PJZm4LcNACBPQ,6/13/2020,4 star rating,I was in the mood for Thai tonight and a frien...
...,...,...,...,...
2471,fXOYnl3ik_8n_tAoOjiDIw,12/19/2021,5 star rating,Holiday High Tea I visited on a Sunday afterno...
2472,fXOYnl3ik_8n_tAoOjiDIw,1/22/2022,2 star rating,"This was a fun place to stay for a weekend, bu..."
2473,fXOYnl3ik_8n_tAoOjiDIw,6/2/2021,4 star rating,"First, the room (Work & Workout suite) was gre..."
2474,fXOYnl3ik_8n_tAoOjiDIw,6/12/2021,4 star rating,I had a lovely time here. My friend and I came...
2475,fXOYnl3ik_8n_tAoOjiDIw,9/28/2021,3 star rating,- awesome rooftop lounge- kind of expensive- r...

In [42]:
df_together = [df, df1]
result = pd.concat(df_together)

In [43]:
result

,id,time,rating,comment
0,a-hVnSTC12MY5L3t9yOSJw,7/24/2016,3 star rating,Good food for the price. I like their chicken ...
1,a-hVnSTC12MY5L3t9yOSJw,12/12/2015,4 star rating,Placed a pick-up order here last night for fiv...
2,a-hVnSTC12MY5L3t9yOSJw,1/27/2015,3 star rating,ordered on seamless. Delivery took a while but...
3,a-hVnSTC12MY5L3t9yOSJw,10/22/2011,2 star rating,Not the best of places. Food is ok and you get...
4,a-hVnSTC12MY5L3t9yOSJw,10/16/2011,1 star rating,I had once eaten here a fairly long time ago a...
...,...,...,...,...
2471,fXOYnl3ik_8n_tAoOjiDIw,12/19/2021,5 star rating,Holiday High Tea I visited on a Sunday afterno...
2472,fXOYnl3ik_8n_tAoOjiDIw,1/22/2022,2 star rating,"This was a fun place to stay for a weekend, bu..."
2473,fXOYnl3ik_8n_tAoOjiDIw,6/2/2021,4 star rating,"First, the room (Work & Workout suite) was gre..."
2474,fXOYnl3ik_8n_tAoOjiDIw,6/12/2021,4 star rating,I had a lovely time here. My friend and I came...
2475,fXOYnl3ik_8n_tAoOjiDIw,9/28/2021,3 star rating,- awesome rooftop lounge- kind of expensive- r...

In [44]:
result.to_csv('../datasets/customer_comments3.csv')